# Neuro SAN
git+https://${LEAF_SOURCE_CREDENTIALS}@github.com/leaf-ai/leaf-common.git@1.2.12
git+https://${LEAF_PRIVATE_SOURCE_CREDENTIALS}@github.com/leaf-ai/leaf-server-common.git@0.1.10
git+https://${LEAF_SOURCE_CREDENTIALS}@github.com/leaf-ai/neuro-san.git@0.1.14

# Flask
Flask==3.0.3
Flask-SocketIO==5.4.1

# These are needed for generating code from .proto files
grpcio==1.62.0
grpcio-health-checking==1.62.0
grpcio-reflection==1.62.0
grpcio-tools==1.62.0

pyOpenSSL==24.0.0
PyJWT>=2.9.0
hvac==1.1.0

eventlet==0.33.3  # or the latest version